{% extends '../base.html' %}
{% load static %}

{% block title %}
Change password
{% endblock %}


{% block content %}


<style>
    ul{
        list-style: none;
    }
</style>

{% if form %}
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex py-5 align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-7 mx-auto">


                            <form method="post" class="rounded mx-auto col-lg-10 p-4">
                                {% csrf_token %}

                                <div class="text-center">
                                    <h2 class="font-weight-bold mb-2">Change your password.</h2>
                                </div>
                                

                                {% for field in form %}
                                    
                                    <div class="mt-2">
                                        {% if field.errors %}
                                            <div class="alert alert-danger align-self-center pb-0" role="alert">{{field.errors}}</div>
                                        {% endif %}
                                        {{field.label}}:
                                        {{field}}
                                    </div>
                                {% endfor %}

                                <button type="submit" class="form-control mt-4 btn btn-primary">Confirm</button>
                                
                                <p class="text-center mt-2">
                                    <a href="{% url 'accounts:login' %}">Go back to login.</a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}

<div class="container vh-100">
    <h5 class="text-center">The password reset link is expired or already used.</h5>
</div>


{% endif %}

{% endblock %}