{% extends '../base.html' %}
{% load static %}
{% block title %} Checkout 
{% endblock %}
{% block content %}
<script>
  let STRIPE_PUB_KEY = "{{pub_key}}";
  let CLIENT_SECRET = "{{request.session.client_secret}}";
  let SUCCESS_URL = "{{success_url}}";
  let LINE = "{{request.user.line1}}";
  let CITY = "{{request.user.city}}";
  let CODE = "{{request.user.code}}";
  let PHONE = "{{request.user.phone}}";
  let COUNTRY = "{{request.user.country}}";
  let NAME = "";

  if ("{{request.user.firstname}}" != 'None'){
    NAME = "{{request.user.firstname}}" + ' ' + "{{request.user.lastname}}";
  }
  
</script>
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'js/payments/checkout.js' %}" defer></script>

<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-12">
      <div class="login d-flex py-5 align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-7 mx-auto">
              <form id="payment-form">
                <div class="text-center">
                    <h2 class="font-weight-bold mb-2">Checkout your basket</h2>
                    <p class="mb-4">Your payment is encrypted. Secure for peace of mind.<br>
                        <strong>orders will be sent to your email.</strong>
                    </p>
                </div>
                <div id="card-errors" role="alert"></div>
                <div id="address-element"></div>
                <div id="payment-element"></div>
                <button id="submit" class="form-control mt-4 btn btn-primary">
                  <div class="spinner hidden" id="spinner"></div>
                  <span id="button-text">Pay now</span>
                </button>
                <div id="payment-message" class="hidden"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
