{% extends '../base.html' %}
{% load static %}

{% block title %}
    Core Ecommerce
{% endblock %}

{% block styles %}
{% endblock%}

{% block content %}
{% load mptt_tags %}


<div class="position-relative overflow-hidden bg-light">


  <div class="album py-5 bg-white">
    <div class="container">
    
      <div class="d-flex">
      <p>Categories </p>
        <div class="btn"></div>
      <nav 
    style="--bs-breadcrumb-divider: '>';" 
    aria-label="breadcrumb"
    >
      <ol class="breadcrumb">
        {% recursetree category_tree %}
        {% if not node.is_leaft_node %}
        <a class="text-decoration-none breadcrumb-item text-primary" href="{% url 'store:category-view' slug=node.slug %}">{{ node.name }}</a>
        <li class="breadcrumb-item"><a class="text-decoration-none text-primary">{{ children }}</a></li>
        {% endif %}
        {% endrecursetree %}
        <li>{{product.title|truncatechars:20}}</li>
      </ol>
    </nav>
    </div>


      <div class="row">

        {% for product in product_list%}
            <div class="col-lg-3 col-sm-4 my-1">
            <div class="card mb-4 box-shadow h-100">
                {% if product.images %}
                  {% for image in product.images.all %}
                    {% if image.is_featured %}
                        <img class="card-img-top h-75"  src="{{ image.image.url }}" alt="Card image cap">
                    {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="card-body h-30">
                <p class="card-text">{{product.title}}</p>
                <div class="d-flex justify-content-between">
                    <div class="btn-group">
                    <a role='button' class="text-decoration-none text-dark btn btn-sm btn-outline-secondary" href="{{ product.get_absolute_url }}">Learn More</a>
                    </div>
                    <small class="text-muted">Rs. {{product.price}}</small>
                </div>
                </div>
            </div>
            </div>
        {% endfor %}

      </div>

</div>




{% endblock %}

{% block scripts %}
{% endblock %}