{% extends '../base.html' %}

{% load static %}

{% block title %} {{product.title | title }} {% endblock %} 



{% block content %}

{% load mptt_tags %}

<div class="container bg-light mt-5 mx-lg-5 mx-sm-0">
    <nav 
    style="--bs-breadcrumb-divider: '>';" 
    aria-label="breadcrumb"
    >
      <ol class="breadcrumb">
        {% recursetree category_tree %}
        {% if not node.is_leaft_node %}
        <a class="text-decoration-none breadcrumb-item text-primary" href="#shop">{{ node.name }}</a>
        <li class="breadcrumb-item"><a class="text-decoration-none text-primary" href="#shop">{{ children }}</a></li>
        {% endif %}
        {% endrecursetree %}
        <li>{{product.title|truncatechars:10}}</li>
      </ol>
    </nav>





</div>  



          <!-- <div class="col">
            <div class="row p-3">
              <div class="col-6">
                <label for="select">Qty</label>
                <select name="quantity" id="select">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>

              <div class="col-6 text-end">
                {% if product.in_stock %}
                  <button
                    type="button"
                    class="btn btn-secondary btn-sm"
                    id="cart"
                    value="{{product.pk}}"
                  >
                    Add to Cart
                  </button>
                {% else %}
                  <button
                  type="button"
                  class="btn btn-secondary btn-sm"
                  id="wishlist"
                  value="{{product.pk}}"
                >
                  Add to Wishlist
                </button>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<script>
    let cart = document.getElementById('cart')
    let items = document.getElementById('select')
    let count = document.getElementById('product-count')

    if(cart){
      cart.onclick = () => {
      
      data = {
          'product_id': cart.value,
          'product_count': items.value,
      }

      fetch("{% url 'basket:basket-add' %}",
          {
              method: "POST",
              body: JSON.stringify(data),
              headers: { "X-CSRFToken": '{{csrf_token}}' },
          }
      ).then(res => res.json()).then(data => {
          count.innerHTML = data['count']

          let message = document.getElementById('message')
          message.innerHTML = `<div type='button' data-dismiss='alert' class="col-11 text-center alert alert-success alert-dismissible fade show" role="alert">${data['title']} is added to cart.</div>`;
            
      });
}

    }
    
  let message = document.getElementById('message')
  let wishlist = document.getElementById('wishlist')

  if(wishlist){
    message.innerHTML = `<div type='button' data-dismiss='alert' class="col-11 text-center alert alert-danger alert-dismissible fade show" role="alert">Product is out of stock.</div>`;
  }

</script>

{% endblock %}

