{% extends '../base.html' %}
{% load static %}

{% block title %}
Cart
{% endblock %}


{% block content %}


<main class="pt-5">
    <div class="container">
        <div class="row">
            <div class="col-6 h4">Shopping Cart</div>
            <div class="col-6 text-end h4">
                <span id="total_price">Total: Rs {{basket.getTotalPrice}}</span>
            </div>
        </div>

        {% for item in basket %}

            {% with product=item.product %}

            <div class="container pt-sm-0 pt-md-5" id="container_{{product.id}}">
                <div class="pt-2">
                  <div class="row g-3 bg-light py-1">
                    <div class="col-md-5 col-lg-5 order-md-first bg-light">
                      <img
                        class="img-fluid mx-auto d-block width=100"
                        loading="lazy"

                        src="{{ product.image.url }}"
                        alt="{{product.slug}}"
                      />
                    </div>
                    <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                      <h1 class="mb-0 h4">{{ product.title }}</h1>
                      <p><span class="lead">{{ product.author }}</span> (Author)</p>
              
                      <div class="border">
                        <div class="col border-bottom">
                          <div class="row p-3">
                            <div class="col-6">Hardback</div>
                            <div class="col-6 text-end">
                                <span>Unit </span>
                              <span>Rs.{{ item.price }}</span>
                            </div>
                          </div>
                        </div>
              
                        <div class="col">
                          <div class="row p-3">
                            <div class="col-2">
                              <label for="select">Qty</label>
                                <select name="quantity" id="select">
                                  <option selected>{{item.count}}</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                </select>
                            </div>

                            <div class="col-3">
                                <span>Total</span>
                                <span id="sub_total_{{product.id}}">Rs {{item.total_price}}</span>
                            </div>
              
                            <div class="col text-end">
                                <button
                                type="button"
                                class="btn btn-secondary btn-sm"
                                value="{{product.id}}"

                                onclick="UpdateFunction(value)"
                              >
                                Update
                              </button>
                              <button
                                type="button"
                                class="btn btn-secondary btn-sm"
                                value="{{product.id}}"

                                onclick="DeleteFunction(value)"
                              >
                                Delete
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            {% endwith %}
        {% endfor %}

    </div>

</main>
{% endblock %}


{% block scripts %}

<script>

  UpdateFunction = (value) => {
    let items = document.getElementById('select')
    let count = document.getElementById('product-count')
    let total = document.getElementById('total_price')
    let message = document.getElementById('message')

    data = {
        'product_id': value,
        'product_count': items.value,
      }

      fetch("{% url 'basket:basket-update' %}",
      {
        method: "POST",
        body: JSON.stringify(data),
        headers: { "X-CSRFToken": '{{csrf_token}}' },
      }).then( res => res.json()).then( data => {

        let sub_total = document.getElementById('sub_total_' + value)
        
        message.innerHTML = `<div type='button' data-dismiss='alert' class="col-11 text-center alert alert-success alert-dismissible fade show" role="alert">${data['title']} is successfully updated.</div>`;

        count.innerHTML = data['count']
        total.innerText = "Total: Rs " + data['total_price']
        sub_total.innerHTML = "Rs " + data['sub_price']
      })

  }

  DeleteFunction = (value) =>{

    let count = document.getElementById('product-count')
    let total = document.getElementById('total_price')
    let message = document.getElementById('message')

      data = {
        'product_id': value
      }

      fetch("{% url 'basket:basket-delete' %}",
      {
        method: "POST",
        body: JSON.stringify(data),
        headers: { "X-CSRFToken": '{{csrf_token}}' },
      }).then( res => res.json()).then( data => {

        if( data['delete'] == 'ok'){
          
          let container = document.getElementById('container_' + value )

          container.textContent = ''
          container.remove()

          count.innerText = data['count']
          total.innerText = "Total: Rs " + data['total_price']

          message.innerHTML = `<div type='button' data-dismiss='alert' class="col-11 text-center alert alert-danger alert-dismissible fade show" role="alert">${data['title']} is removed form cart.</div>`;
             
        }
      })
  }


</script>
{% endblock %}